*
!.bashrc
!ds.sh
!gpilot.sh
!git_check.sh
!setup-repos.sh
!*.txt
!*.py
!.gitignore
# Security Exclusions
*.key
*.crt
# Large Data Exclusions
*.tar.gz
*.zip
# Sub-repo Exclusions
ups_project/
docker_apps/
nmap-web-nse/
